@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Monoton|VT323|Quicksand');


@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  font-family: 'Quicksand';
    font-size: 17px;
}
h1.major,
h2.major,
h3.major,
h4.major,
h5.major,
h6.major {
  padding-bottom: 1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  margin-bottom: 20px;
}
a {
    font-size: 21px;
  color: #F73859;
}
a:hover,
a:focus {
  color: white;
  text-decoration: none;
}
header {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color:#283149;
  background: -webkit-gradient(radial, center center, 0, center center, 900, from(#F73859), to(#404B69));
  background: -moz-radial-gradient(circle, #F73859, #404B69);
  background: -ms-radial-gradient(circle, #F73859, #404B69 );
  background: --radial-gradient(circle, #F73859, #404B69);
  color: rgba(0, 0, 0, 0.34);
  text-shadow: 2px 2px 4px #f25082;
}
header #particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
header .vert-text {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
header .vert-text h1 {
  font-family: 'Monoton';
  flex-basis: auto;
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 900;
}
header .vert-text .scroll-down {
  display: block;
  position: absolute;
  bottom: 20%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
header .vert-text .scroll-down:hover {
  opacity: 0.5;
}
header .vert-text .scroll-down::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
header .vert-text .scroll-down::before {
  position: absolute;
  top: -22px;
  left: -22px;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgb(64, 75, 105);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
#about {
  padding: 50px 0;
  background-color: #404B69;
  color:#fff;
}
#about .service-item {
  margin-bottom: 15px;
}
.service-icon {
 
  border: 6px solid rgba(255, 255, 255, 0.29);
  border-radius: 50%;
  font-size: 56px;
  color: #F73859;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  box-shadow: 2px;
}
#projects {
  padding: 50px 0;
  background-color: #404B69;
  color: white;
}
#projects .major {
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
#projects .inner {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
}
#contacts {
  padding: 100px 0;
  background-color: #DBEDF3;
  color: #F73859;
}
#contacts .social {
  padding-bottom: 20px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
.project-item {
  width: 250px;
  margin: 10px auto 20px auto;
  padding: 10px 15px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0px 0px -5px #fff;
  border-radius: 0.25em;
  transition: all 0.5s ease;
}
.project-item:hover {
  box-shadow: 0 5px 20px -5px #fff;
}
.project-item .icon {
  height: 64px;
  width: 100%;
  margin: 10px 0;
}
.navbar {
/* background-color: rgba(247, 56, 89, 0.46);*/
   background: linear-gradient(to right, #404B69,#F73859); 
 
  border-color: #292D48;
}
.navbar.navbar-default .navbar-brand {
  color: white;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar.navbar-default .navbar-toggle:hover,
.navbar.navbar-default .navbar-toggle:focus {
  background-color: #433763;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
